<!DOCTYPE html>
<html>
<head>
<title></title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>

	
<% for(i in values) { %>
<div class="column">
    <div class="col-md-4 ">
        <div class="col-md-8 well">
	
	<div class="row"><Strong>Username: </Strong><%- values[i].username %> </div>  	
	<div class="row"><Strong>Lastname: </Strong><%- values[i].password %> </div> 
					
	
	    	</div>
    </div>
</div>
 
 <% } %> 

</body>
</html>